<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Imgname</key>
		<string>1</string>
		<key>Imgicon</key>
		<string>planet_01new</string>
		<key>HeavenlyBodyName</key>
		<string>ARIES</string>
		<key>starName</key>
		<string>star_01</string>
	</dict>
	<dict>
		<key>Imgname</key>
		<string>2</string>
		<key>Imgicon</key>
		<string>planet_02new</string>
		<key>HeavenlyBodyName</key>
		<string>TAURUS</string>
		<key>starName</key>
		<string>star_02</string>
	</dict>
	<dict>
		<key>Imgname</key>
		<string>3</string>
		<key>Imgicon</key>
		<string>planet_03new</string>
		<key>HeavenlyBodyName</key>
		<string>GEMINI</string>
		<key>starName</key>
		<string>star_03</string>
	</dict>
	<dict>
		<key>Imgname</key>
		<string>4</string>
		<key>Imgicon</key>
		<string>planet_04new</string>
		<key>HeavenlyBodyName</key>
		<string>CANCER</string>
		<key>starName</key>
		<string>star_04</string>
	</dict>
	<dict>
		<key>Imgname</key>
		<string>5</string>
		<key>Imgicon</key>
		<string>planet_05new</string>
		<key>HeavenlyBodyName</key>
		<string>LEO</string>
		<key>starName</key>
		<string>star_05</string>
	</dict>
	<dict>
		<key>Imgname</key>
		<string>6</string>
		<key>Imgicon</key>
		<string>planet_06new</string>
		<key>HeavenlyBodyName</key>
		<string>VIRGO</string>
		<key>starName</key>
		<string>star_06</string>
	</dict>
	<dict>
		<key>Imgname</key>
		<string>7</string>
		<key>Imgicon</key>
		<string>planet_07new</string>
		<key>HeavenlyBodyName</key>
		<string>LIBRA</string>
		<key>starName</key>
		<string>star_07</string>
	</dict>
	<dict>
		<key>Imgname</key>
		<string>8</string>
		<key>Imgicon</key>
		<string>planet_08new</string>
		<key>HeavenlyBodyName</key>
		<string>SCORPIO</string>
		<key>starName</key>
		<string>star_08</string>
	</dict>
	<dict>
		<key>Imgname</key>
		<string>9</string>
		<key>Imgicon</key>
		<string>planet_09new</string>
		<key>HeavenlyBodyName</key>
		<string>SAGITTARIUS</string>
		<key>starName</key>
		<string>star_09</string>
	</dict>
	<dict>
		<key>Imgname</key>
		<string>10</string>
		<key>Imgicon</key>
		<string>planet_10new</string>
		<key>HeavenlyBodyName</key>
		<string>CAPRICORN</string>
		<key>starName</key>
		<string>star_10</string>
	</dict>
	<dict>
		<key>Imgname</key>
		<string>11</string>
		<key>Imgicon</key>
		<string>planet_11new</string>
		<key>HeavenlyBodyName</key>
		<string>AQUARIUS</string>
		<key>starName</key>
		<string>star_11</string>
	</dict>
	<dict>
		<key>Imgname</key>
		<string>12</string>
		<key>Imgicon</key>
		<string>planet_12new</string>
		<key>HeavenlyBodyName</key>
		<string>PISCES</string>
		<key>starName</key>
		<string>star_12</string>
	</dict>
</array>
</plist>
